/bos_management/.classpath
/bos_management/.project
/bos_management/.settings
/bos_management/target

/common_parent/.settings
/common_parent/.project
/crm_management/target
/crm_domain/target
/*.project
/crm_management/*
/crm_management/*.classpath
/crm_management/*.project
/crm_domain/*.classpath
/crm_domain/*.project
/bos_fore/target
/**/*.project
/**/*.classpath
/**/*.settings
/bos_sms/target
/bos_domain/target
/_otherFiles
/bos_management/*.tern-project
