<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>angularjs-demo1</title>
		<script src="../js/angular.min.js"></script>
	</head>

	<body>
		<div ng-app="myapp1" ng-controller="myctrl1">
			<div>
				<input type="text" name="username" ng-model="usernameValue" />
				<input type="button" value="clear" ng-click="usernameValue=''" />
			</div>
			<div>hello,{{ usernameValue }}</div>
		</div>
	</body>
	<script type="text/javascript">
		var myapp1 = angular.module("myapp1", [])
		/*myapp1.controller("mycont1", function() {
			
		})*/
		myapp1.controller("myctrl1", ["$scope", function($scope) {
			$scope.usernameValue = "hello"
			$scope.valClear = function() {
				$scope.usernameValue = ""
			}
		}])
	</script>
</html>